.candidates {
    padding: 50px 0 40px 0;
}

.candidate-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.candidate-vacancyNames {
    font-weight: bold;
    font-size: 16px;
    color: #3D3B69;
    font-family: "Open Sans", sans-serif;
}

.candidate-dates {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.candidate-date {
    margin-right: 30px;
    font-size: 12px;
    color: #696969;
    font-family: "Open Sans", sans-serif;
}

.candidate-date-bold {
    font-weight: bold;
}

.candidate-date:last-child {
    margin-right: 0;
}

.candidate-background {
    background-color: #ffffff;
    box-shadow: 0px 10px 15px rgba(230, 235, 255, 0.5);
    border-radius: 8px;
    padding: 40px 60px;
    margin-bottom: 30px;
}

.candidate-img-flex {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.candidate-img {
    margin-right: 30px;
    width: 98px;
    height: 98px;
    background-color: rgb(235, 83, 83);
    border-radius: 100%;
}

.candidate-names {
    font-size: 16px;
    line-height: 22px;
    color: #3D3B69;
    font-family: "Open Sans", sans-serif;
}

.candidate-location {
    font-size: 10px;
    line-height: 21px;
    color: #696969;
    font-family: "Open Sans", sans-serif;
}

.candidate-background-flex {
    display: flex;
    justify-content: space-between;
}

.candidate-background-item {
    flex-basis: 50%;
}

.candidate-info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidate-info-item {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.candidate-key {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #00B395;
}

.margin-bottom-30 {
    margin-bottom: 18px;
}

.candidate-property {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #3D3B69;
}

.candidate-field {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #6D64FF;
    margin-bottom: 28px;
}

.candidate-background-flex-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.candidate-background-footer {
    flex-basis: 37%;
}

.candidate-btn-flex {
    display: flex;
    justify-content: space-evenly;
}

.candidate-btn {
    border-radius: 28px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #3D3B69;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 15px 40px;
}

.candidate-btn-red {
    background: linear-gradient(360deg, #FF877F 0%, #FFFFFF 204.55%);
    box-shadow: 0px 4px 10px rgba(251, 168, 163, 0.5);
}

.candidate-btn-green {
    background: linear-gradient(0.03deg, #00F2C9 0%, #FDFDFD 226.41%);
    box-shadow: 0px 4px 10px rgba(0, 242, 201, 0.5);
}

.candidate-date-flex {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candidate-date-flex:hover {
    color: #00B395;
}
