.reviewList {
}

.reviewList-header {
    display: flex;
    flex-direction: row;
    letter-spacing: 0.4px;
    color: #6D64FF;
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
}

.reviewList-user {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}

.reviewList-user__userData {
    float: left;
    display: flex;
    margin-left: 30px;
    padding-right: 40px;
    margin-top: 8px;
}

.reviewList-user__userData-photo {
    width: 30px;
    height: 30px;
    background-color: #3D3B69;
    border-radius: 50%;
    margin: auto 10px auto 0;
}

.reviewList-user__userData-name {
    margin: auto 0;
}

.reviewList-user__position {
    float: left;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #696969;
    margin: 12px 0;
}

.reviewList-user__date {
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.15px;
    color: #696969;
    margin: 12px 0;
    float: right;
}

.reviewList-footer {
    display: flex;
    flex-direction: row;
}

.reviewList-footer__answer {
    margin-right: 40px;
    text-decoration-line: underline;
}

.reviewList-footer__answer:hover {
    cursor: pointer;
}

.reviewList-footer__like:hover {
    cursor: pointer;
}

.underline {
    text-decoration-line: underline;
}

.divider {
    background: #E6EBFF;
    border: 0;
    height: 2px;
}

.liked {
    color: blue;
}
