.review {
    margin-top: 35px;
}

.review-header {
    display:  inline-block;
    width: 100%;
}

.review-header__comment {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #00B395;
    float: left;
    opacity: 0.3;
}

.review-header__icons {
    float: right;
    display: flex;
    justify-content: space-between;
}

.review-header__icons-icon {
    width: 24px;
    height: 24px;
}

.review-header__icons-icon:hover {
    cursor: pointer;
}

.review-header__icons-icon__edit {
    margin-right: 16px;
}

.review-body__text {
    width: 100%;
    border: 1px solid #E6EBFF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #3D3B69;
}

.review-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.review-footer__cancelBtn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-decoration-line: underline;
    color: #FF0000;
    margin-right: 40px;
}

.review-footer__cancelBtn:hover {
    cursor: pointer;
}

.review-footer__Btn:hover {
    cursor: pointer;
}

.review-footer__saveBtn {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #3D3B69;
    margin-left: 40px;
    padding: 12px 52px;
    background: #FFFFFF;
    background: linear-gradient(0.03deg, #00F2C9 0%, #FDFDFD 226.41%);
    box-shadow: 0px 4px 10px rgba(0, 242, 201, 0.5);
    border-radius: 28px;
}
