.hr-vacancy {
    padding: 40px 65px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(230, 235, 255, 0.5);
    border-radius: 8px;
}

.hr-menu {
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hr-menu-item {
    text-align: center;
    list-style: none;
    flex-basis: 25%;
}

.hr-menu-item-line {
    border-bottom: 2px solid #E6EBFF;
}

.hr-menu-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    color: #3D3B69;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.hr-menu-item-line:hover .hr-menu-link {
    color: #6D64FF;
}

.hr-menu-item-line:hover {
    border-bottom: 2px solid #6D64FF;
}

.hr-menu-link-active .hr-menu-link {
    color: #6D64FF;
}

.hr-menu-link-active .hr-menu-item-line {
    border-bottom: 2px solid #6D64FF;
}

.link-add-vacancy {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    margin-left: 5%;
    color: #00B395;
}

.link-add-vacancy-dark {
    color: #3D3B69;
}

.link-add-vacancy:hover {
    color: rgb(8, 243, 204);
}

.hr-vacancy-flex {
    display: flex;
    justify-content: space-between;
}

.hr-vacancy-routes {
    flex-basis: 75%;
    border-left: 2px solid #E6EBFF;
    padding: 0 60px;
}
